<div ng-controller="DocumentCtrl">
  <input type="hidden" id="document-session-id" value="<%= params.id %>" />  
  <textarea id="text"></textarea>
  <a class="btn btn-primary btn-large center" href="<%= path_to.versions %>">Show previos versions</a>
</div>