<div ng-controller="EditorCtrl">  
  <p class="well" ng-show="message" ng-bind="message"></p>
  <div class="wrapper">
    <a class="btn btn-primary btn-large center" ng-click="click()">Сдлт збс</a>
  </div>
</div>
 

